*.pyc
*.xpr
*.xlsx
EAD/json/*
EAD/resources/*
EAD/migration_stats/*
EAD/digital_objects/*
EAD/exports/*
EAD/eads/*
MARC/marcxml_no_ead
MARC/marcxml_no_ead_joined
MARC/marcxml_has_ead
MARC/marcxml_unknown
MARC/converted_eads
ead_verification_errors.csv