*.pyc
*.xpr
*.xlsx
*.json
EAD/json/*
EAD/resources/*
EAD/migration_stats/*
EAD/digital_objects/*
EAD/exports/*
EAD/eads/*
MARC/marcxml_no_ead
MARC/marcxml_no_ead_joined
MARC/marcxml_has_ead
MARC/marcxml_unknown
MARC/converted_eads
MARC/unconverted_marcxml
ead_verification_errors.csv
beal_classifications.csv
marc_field_occurrences.csv
locations.csv
beal_classifications.csv
beal_unique_collectionids.txt
shared/*
